.center {
    text-align: center;
    margin-top: 15px;
}

h1.mar {
  margin-bottom: 15px;
}

.smolcar {
  margin: 5% 15%;
}

.centy {
  align-items: center;
}

.ss {
  font-family: "basic-sans", sans-serif;
  font-style: normal;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px;
    width: 20px;
  }